__pycache__/
*.py[cod]
*.pyo
*.pyd
db.sqlite3
*.sqlite3
*.log
.env
venv/
ENV/
env/
.venv/
media/
staticfiles/
.vscode/
.idea/
.DS_Store
Thumbs.db
*.egg-info/
.eggs/
htmlcov/
.tox/
.coverage
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.pyc
# Misc
*.bak
*.swp
staticfiles_build/
